@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --text-color: #FFFFFF;
  --background-color: #000000;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

body {
  background-color: var(--background-color);
}

.clock {
  color: var(--text-color);
  font-size: 130px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  position: absolute;
  top: calc(50% + 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  font-size: 30px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--text-color);
  outline: none;
  background-color: transparent;
  color: var(--text-color);
}

.settings-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  /* opacity: 0.5; */
  z-index: 5;
  fill: var(--text-color);
  cursor: pointer;
}

.settings-panel {
  width: 500px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 2px solid var(--text-color);
  display: none;
  z-index: 3;
  background-color: var(--background-color);
  opacity: 0.8;
}

.settings-label {
  color: var(--text-color);
  font-size: 30px;
  margin: 20px;
}

.settings-section {
  width: 90%;
  margin: 10px auto;
  user-select: none;
  border-bottom: 1px solid var(--text-color);
  padding-bottom: 10px;
}

.settings-section-title-container {
  display: flex;
  justify-content: left;
  cursor: pointer;
}

.settings-chevron-down-icon,
.settings-chevron-right-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: 3px;
  fill: var(--text-color);
}

.settings-chevron-right-icon {
  rotate: 270deg;
  margin-top: 4px;
}

.settings-section-title {
  color: var(--text-color);
  font-size: 24px;
}

.settings-section-content {
  color: white;
  display: none;
}

.theme-preset {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
  border: 2px solid transparent;
}

.theme-preset-text {
  text-align: center;
  font-size: 22px;
  padding-top: 3px;
}

.themes-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  display: none;
}

.search-setting-label {
  font-size: 20px;
}

.search-setting-option {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}

/* Toggle */
input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  /* background: #fff; */
  background-color: var(--background-color);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--text-color);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 30px;
}