@import url(styles/settings.css);
@import url(styles/toggle.css);
@import url(styles/quote.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --text-color: #6a0dad;
  --background-color: #000000;
  --text-opacity: 1.0;
  --background-opacity: 1.0;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color);
  opacity: var(--background-opacity);
}

.quote-section {
  position: fixed;
  left: 0%;
  width: 50vw;
  height: 100vh;
  top: 0;
  display: none;
}

.clock-and-search-section {
  position: fixed;
  left: 0%;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: none;
}

.clock {
  color: var(--text-color);
  font-size: 130px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: var(--text-opacity);
}

.search-container {
  position: absolute;
  top: calc(40% + 100px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  width: 500px;
  font-size: 30px;
  padding: 8px 15px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  color: var(--text-color);
  opacity: var(--text-opacity);
}

.search-label {
  color: var(--text-color);
  position: absolute;
  top: -12px;
  left: 10px;
  font-size: 20px;
  z-index: 10;
  background-color: var(--background-color);
  padding: 0 10px;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

/* Define the color of the radio button */
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid var(--text-color);
}

/* Define the color of the radio button when it's checked */
input[type="radio"]:checked::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-color); /* Change this to the desired color */
}