/* center the blockquote in the page */
.blockquote-wrapper {
  display: flex;
  height: 100vh;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: var(--text-color);
  padding: 30px 0;
  width: 100%;
  max-width: 75%;
  z-index: 1;
  margin: 80px auto;
  align-self: center;
  margin-top: -20px;
}

/* Blockquote header */
.blockquote h1 {
  position: relative;
  color: var(--text-color);
  font-size: 45px;
  font-weight: 800;
  line-height: 1.1;
  margin: 0;
}

/* Blockquote right double quotes */
.blockquote:after {
  position: absolute;
  content: "”";
  color: var(--text-color);
  font-size: 10rem;
  line-height: 0;
  bottom: -43px;
  right: 30px;
}

/* increase header size after 600px */
/* @media all and (min-width: 600px) {
  .blockquote h1 {
    font-size: 60px;
  }
} */

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: var(--text-color);
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding-top: 20px;
  z-index: 1;
}
