.settings-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  /* opacity: 0.5; */
  z-index: 5;
  fill: var(--text-color);
  cursor: pointer;
  opacity: var(--text-opacity);
  transition: 0.3s;
}

.settings-panel {
  width: 0;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  background-color: var(--background-color);
  /* opacity: 0.8; */
  /* opacity: 1; */
  overflow: hidden;
  transition: 0.3s;
  overflow: auto;
  padding-bottom: 100px;
}

.settings-panel--expanded {
  border-left: 2px solid var(--text-color);
  /* width: 40vw; */
  width: 600px;
  display: block;
}

.settings-label {
  color: var(--text-color);
  font-size: 30px;
  margin: 20px;
  /* opacity: var(--text-opacity); */
}

.settings-section {
  width: 90%;
  margin: 10px auto;
  user-select: none;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 10px;
}

.settings-section-title-container {
  display: flex;
  justify-content: left;
  cursor: pointer;
}

.settings-sub-section-label {
  color: var(--text-color);
  font-size: 22px;
  margin-top: 10px;
  /* opacity: var(--text-opacity); */
}

.settings-chevron-right-icon {
  width: 20px;
  height: 20px;
  margin-right: 15px;
  margin-top: 3px;
  fill: var(--text-color);
  transition: 0.3s;
  rotate: -90deg;
  /* opacity: var(--text-opacity); */
  margin-top: 4px;
}

.settings-section-title {
  color: var(--text-color);
  font-size: 24px;
  /* opacity: var(--text-opacity); */
}

.settings-section-content {
  color: white;
  max-height: 0;
  overflow: hidden;
  /* opacity: var(--text-opacity); */
  transition: all 0.3s ease-in-out;
}

.settings-section-content--expanded {
  max-height: 700px;
}

.theme-preset {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px 0;
  border: 2px solid transparent;
}

.theme-preset-text {
  text-align: center;
  font-size: 22px;
  padding-top: 3px;
}

.themes-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
  /* display: none; */
}

.search-setting-label {
  font-size: 20px;
  /* opacity: var(--text-opacity); */
}

.search-setting-option {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}

.opacity-range-container {
  display: flex;
  gap: 10px;
  margin-top: 3px;
}

.color-picker-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.background-color-custom-input,
.text-color-custom-input {
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  padding: 0;
  height: 28px;
}

.search-icons-container {
  display: flex;
  gap: 15px;
}

.search-engine-icon {
  width: 32px;
  height: 32px;
  padding: 2px;
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.search-engine-icon-active {
  /* background-color: #e9e4e4; */
  border: 2px solid var(--text-color);
}

.opacity-range {
  margin-top: -5px;
  accent-color: var(--text-color);
}

.layouts-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout,
.theme-layout {
  width: calc(50% - 5px);
  height: 150px;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.layout-radio-input {
  scale: 1.2;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 10;
}

.layout-left-section {
  position: absolute;
  left: 0%;
  top: 0;
  width: 50%;
  height: 100%;
  border-right: 2px solid var(--text-color);
}

.layout-right-section {
  position: absolute;
  left: 50%;
  top: 0;
  width: 50%;
  height: 100%;
}

.layout-top-section {
  width: 100%;
  height: 50%;
  position: absolute;
  border-bottom: 2px solid var(--text-color);
}

.layout-bottom-section {
  width: 100%;
  height: 50%;
  position: absolute;
  /* border-bottom: 2px solid var(--text-color); */
  top: 50%;
}

.quote-icon,
.link-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: var(--text-color);
}

.clock-and-search-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clock-icon,
.search-icon,
.left-clock-icon,
.right-search-icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
  fill: var(--text-color);
}

.search-icon {
  top: calc(50% + 20px);
  left: calc(50% + 20px);
}

.left-clock-icon {
  top: 50%;
  left: -10%;
}

.right-search-icon {
  top: 50%;
  left: 110%;
}

.diagonal-separator-line,
.vertical-separator-line {
  border-bottom: 3px solid var(--text-color);
  width: 100%;
  transform: rotate(-45deg);
  transform-origin: right;
  margin-top: 6px;
  margin-left: -7px;
}

.vertical-separator-line {
  transform: rotate(-90deg);
  margin-left: -12px;
  width: 75%;
}

.modern-theme {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.theme-type-label,
.simple-theme-type-label {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 40px;
  transform: translate(-50%, -50%);
}

.simple-theme-type-label {
  color: var(--text-color);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.spin {
  animation: spin 0.3s;
  transform: rotate(90deg);
}
