.toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 45px;
  height: 25px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle-label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  /* background: #fff; */
  background-color: var(--background-color);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .toggle-label {
  background: var(--text-color);
}

input:checked + .toggle-label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle-label:active:after {
  width: 30px;
}
